.Banner {
  background-image: url("./resources/Banner\ Image.png");
  height: 600px;
  width: 1200px;
  margin: 3rem auto;
  padding: 2rem;
  border-radius: 0%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.BannerText {
  margin-bottom: 100px;
  margin-left: 460px;
   color: azure;
}
.text {
  margin-left: 570px;
  margin-top: 200px;
  color: azure;
}
.Happy {
  margin-left: 660px;
  margin-top: 90px;
  color: red;
}
.Our{
    margin-left: 580px;
    margin-top: 40px;
    color: red;
}
.all{
    margin-left: 590px;
    margin-top: 40px;
}
.New-year{
    margin-left: 300px;
    margin-top: 40px;
}
.WelcomeTo{
    background-image: url("./resources/Vectorrr.png");
    height: 600px;
    width: 1200px;
    margin: 4rem auto;
    padding: 2rem;
    background-size: cover;
    display: flex;
    gap: 200px;
    
    
}
#Welcome{
  color: azure; 
 
}
#Dolar{
  color: azure;
}
.Group70{
margin-top: 60px;

}
.polash{
  margin-top: 200px;
}
.PlaceDateTime{
  height: 400px;
  width: 1200px;
  margin: 4rem auto;
  padding: 2rem;
  background-size: cover;
  background-color: antiquewhite;
 
}
.RedPlace{
  color: red;
  margin-left: 450px;
}
.RedDate{
  color: red;
  margin-left: 410px;
}
.RedTime{
  color: red;
  margin-left: 360px;
}
.BagraounRed{
  background-color: red;
  color: white;
  border: 2px solid red;
  border-radius: 5px;
  width: 150px;
  height: 40px;
  padding: 10px;
  margin-left: 520px;
  margin-top: 10px;
}
.AllPlaceDateTime{
  margin-top: 95px;
}
.Main1{
  display: flex;
  margin-left: 40px;
  gap: 150px;
  margin-top: 150px;
}
.Forhad{
  border: 12px solid red;
  border-radius: 200px 200px;
  width: 300px;
 
}
.red{
  color: red;
}
.WHATIS{
  margin-top: 100px;
}
.what{
  margin-left: 550px;
}
.whatp{
  margin-left: 540px;
}
.main2{
  margin-left: 40px;
}
.Site{
  margin-left: 400px;
}
.p{
  margin-left: 440px;
}
.m{
  margin-left: 320px;
}
.F{
  margin-left: 550px;
}
.MainHuk{
  margin: 40px;
  margin-top: 140px;
}
.main3{
  width: 200px;
  height: 300px;
  display: flex;
  margin-top: 60px;
  margin-left: 40px;
}
.Grup75{
  background-image: url("./resources/Rectangle\ 2.png");
  height: 200px;
  width: 1200px;
  margin: 4rem auto;
  padding: 2rem;
  background-size: cover;
}
.FriestImage{
  margin-left: 40px;
  display: flex;
  gap: 15px;
  height: 400px;
  width: 1500px;
  background-size: cover;

}
.SecondImage{
  margin-left: 40px;
  display: flex;
  gap: 15px;
  margin-top: 20px;

  height: 400px;
  width: 1500px;
  margin: 3rem auto;
  padding: 2rem;
  background-size: cover;
}
.Last2{
  height: 480px;
  width: 1220px;
  margin: 4rem auto;
  padding: 2rem;
  margin-top: 200px;
  background-size: cover;
  background-color: antiquewhite;
}
.Group61{
  margin-top: 60px;
  margin-left: 520px;
}
.Subscribe{
  margin-left: 450px;
}
.pTag{
  margin-left: 300px;
}
.Ipsum{
  margin-left: 410px;
}
.Input{
  margin-top:30px;
  margin-left:350px;
}
.lastInpute{
 padding: 30px;
 width: 500px;
 border: 2px solid white;
 border-radius: 60px;
}
.Button{
  background-color: red;
  border: 2px solid red;
  width: 90px;
  height: 70px;
  border-radius: 8px;
  color: azure;
}
.Footer{
  height: 480px;
  width: 1450px;
  margin-top: 100px;
  background-size: cover;
  background-color: black;
}
.last{
  display: flex;
  color: white;
  gap: 600px;
  margin-left: 100px;
}
.pppBig{
  margin-top: 150px;
}
.Images{
  display: flex;
  gap: 15px;
  margin-left: 500px;
}
.lastWork{
  color: white;
  display: flex;
  gap: 800px;
  margin-left: 100px;
  margin-top: 30px;
}
.lastImages{
  width: 15px;
}